<div class="section-top-border">
    <h3 class="mb-30">@Resources.ElmentCollectionPage.Definitions</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="single-defination">
                <h4 class="mb-20">@Resources.ElmentCollectionPage.SectionOne</h4>
                <p>@Resources.ElmentCollectionPage.TextLorem</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-defination">
                <h4 class="mb-20">@Resources.ElmentCollectionPage.SectionTwo</h4>
                <p>@Resources.ElmentCollectionPage.TextLorem</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-defination">
                <h4 class="mb-20">@Resources.ElmentCollectionPage.SectionThree</h4>
                <p>@Resources.ElmentCollectionPage.TextLorem</p>
            </div>
        </div>
    </div>
</div>