<div class="section-top-border">
    <div class="row">
        <div class="container">
            <h3 class="mb-30">@Resources.SecondPageForm.FormElements</h3>
            <form action="#">
                <div class="mt-10">
                    <input type="text" name="first_name" placeholder="@Resources.SecondPageForm.YourName" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Resources.SecondPageForm.YourName'" required="" class="single-input">
                </div>
                <div class="mt-10">
                    <input type="text" name="last_name" placeholder="@Resources.SecondPageForm.LastName" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Resources.SecondPageForm.LastName'" required="" class="single-input">
                </div>
                <div class="mt-10">
                    <input type="text" name="last_name" placeholder="@Resources.SecondPageForm.PhoneNumber" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Resources.SecondPageForm.PhoneNumber'" required="" class="single-input">
                </div>
                <div class="mt-10">
                    <input type="email" name="EMAIL" placeholder="@Resources.SecondPageForm.Email" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Resources.SecondPageForm.Email'" required="" class="single-input">
                </div>
                <div class="input-group-icon mt-10">
                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                    <input type="text" name="address" placeholder="@Resources.SecondPageForm.Adress" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Resources.SecondPageForm.Adress'" required="" class="single-input">
                </div>
                <div class="input-group-icon mt-10">
                    <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                    <div class="form-select">
                        <select style="display: none;">
                            <option value="1">@Resources.SecondPageForm.City</option>
                            <option value="1">@Resources.SecondPageForm.Shiraz</option>
                            <option value="1">@Resources.SecondPageForm.Tehran</option>
                            <option value="1">@Resources.SecondPageForm.Isfahan</option>
                            <option value="1">@Resources.SecondPageForm.Mashhad</option>
                        </select><div class="nice-select" tabindex="0"><span class="current">@Resources.SecondPageForm.City</span><ul class="list"><li data-value="1" class="option selected">@Resources.SecondPageForm.City</li><li data-value="1" class="option">@Resources.SecondPageForm.Shiraz</li><li data-value="1" class="option">@Resources.SecondPageForm.Tehran</li><li data-value="1" class="option">@Resources.SecondPageForm.Isfahan</li><li data-value="1" class="option">@Resources.SecondPageForm.Mashhad</li></ul></div>
                    </div>
                </div>
                <div class="input-group-icon mt-10">
                    <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                    <div class="form-select">
                        <select style="display: none;">
                            <option value="1">@Resources.SecondPageForm.Country</option>
                            <option value="1">@Resources.SecondPageForm.Iran</option>
                            <option value="1">@Resources.SecondPageForm.Turkey</option>
                            <option value="1">@Resources.SecondPageForm.Iraq</option>
                        </select><div class="nice-select" tabindex="0"><span class="current">@Resources.SecondPageForm.Country</span><ul class="list"><li data-value="1" class="option selected">@Resources.SecondPageForm.Country</li><li data-value="1" class="option">@Resources.SecondPageForm.Iran</li><li data-value="1" class="option">@Resources.SecondPageForm.Turkey</li><li data-value="1" class="option">@Resources.SecondPageForm.Iraq</li></ul></div>
                    </div>
                </div>
                <div class="mt-10">
                    <textarea class="single-textarea" placeholder="@Resources.SecondPageForm.YourText" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Resources.SecondPageForm.YourText'" required=""></textarea>
                </div>
            </form>
        </div>

    </div>
</div>