 <!-- Start Feature Area -->
    <section class="featured-area">
        <div class="container">
            <div class="row">
                <!-- Start Feature Box -->
                <div class="col-md-4">
                    <div class="single-feature text-center">
                        <span class="lnr lnr-screen"></span>
                        <h3>@Resources.SectionTwoMainPage.Responsive</h3>
                        <p>@Resources.SectionTwoMainPage.ResponsiveText</p>
                        <a href="#" class="text-uppercase">@Resources.SectionTwoMainPage.MoreButton</a>
                    </div>
                </div>
                <!-- End Feature Box -->
                <div class="col-md-4">
                    <div class="single-feature text-center">
                        <span class="lnr lnr-code"></span>
                        <h3>@Resources.SectionTwoMainPage.CleanCode</h3>
                        <p>@Resources.SectionTwoMainPage.CleanCodeText</p>
                        <a href="#" class="text-uppercase">@Resources.SectionTwoMainPage.MoreButton</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-feature text-center">
                        <span class="lnr lnr-clock"></span>
                        <h3>@Resources.SectionTwoMainPage.Time</h3>
                        <p>@Resources.SectionTwoMainPage.TimeText</p>
                        <a href="#" class="text-uppercase">@Resources.SectionTwoMainPage.MoreButton</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Feature Area -->