<!-- Start Testimonial Area -->
<section class="section-gap testimonial-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container relative">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="active-testimonial-carousel">s
                    <!-- Start Testimonial Item -->
                    <div class="item">
                        <h3>@Resources.SectionThreeMainPage.FreeTutorials</h3>
                        <p>@Resources.SectionThreeMainPage.FreeTutorialsText</p>
                        <a href="#">@Resources.SectionThreeMainPage.BlogLink</a>
                    </div>
                    <!-- End Testimonial Item -->
                    <div class="item">
                        <h3>@Resources.SectionThreeMainPage.FreeTutorials</h3>
                        <p>@Resources.SectionThreeMainPage.FreeTutorialsText</p>
                        <a href="#">@Resources.SectionThreeMainPage.BlogLink</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="next-trigger"><span class="lnr lnr-arrow-left"></span></div>
        <div class="prev-trigger"><span class="lnr lnr-arrow-right"></span></div>
    </div>
</section>
<!-- End Testimonial Area -->